<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	ng-app="MythosApp">
<head lang="en">

	<meta charset="UTF-8">
	<title>Mythos</title>
	
	<meta charset="UTF-8">
	
	<!-- Javascript library includes -->
	<script th:src="@{/bower_components/angular/angular.min.js}"></script>
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/js/data/sample.js}"></script>
	<script th:src="@{/js/mythos.js}"></script>
	<script th:src="@{/js/controllers/chat.js}"></script>
	
	<!-- Include Neccessary CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
	

</head>
<body class="container">

	<div class="row">
		<h1 class="col-xs-12">Mythos</h1>
	</div>

	<div layout:fragment="section-content"></div>
	
</body>
</html>