<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head lang="en">

</head>

<body>

	<div layout:fragment="section-content" ng-controller="MythosChatController">
		<div class="chat row" ng-repeat="element in history">
			<div class="chat-text" ng-if="element.source != 'card'">
				<h3>{{element.source}}</h3>
				<p>{{element.text}}</p>
			</div>
			<div class="popup thumbnail col-xs-8 col-xs-offset-2" ng-if="element.source == 'card'">
				<p>Card goes here</p>
			</div>
		</div>
		<div ng-controller = "ActionsController">
			<button ng-click = "getCoreRoll()">Core Roll</button>
			<p>{{currentRoll}}</p>
		</div>
	</div>
	
</body>
</html>
